version: "3"

services:
n8n:
image: n8nio/n8n
ports:
- "5678:5678"
environment:
- N8N_BASIC_AUTH_ACTIVE=true
- N8N_BASIC_AUTH_USER=admin
- N8N_BASIC_AUTH_PASSWORD=strongpassword
- N8N_HOST=0.0.0.0
- N8N_PORT=5678
- N8N_PROTOCOL=https
- WEBHOOK_URL=https://n8n-promose-tracker.onrender.com
- N8N_EDITOR_BASE_URL=https://n8n-promose-tracker.onrender.com
- TZ=Asia/Kolkata
volumes:
- n8n_data:/home/node/.n8n

volumes:
n8n_data:
